h1 {
	text-align: center;
}

.container {
	width: 30em;
	margin: 10em auto;
}

#button {
	margin: 0 auto;
	background-color: rgba(0,0,255,0.3);
	padding: 1em 1.5em;
	width: 6.5em;
	border-radius: 0.5em;
	text-transform: uppercase;
	font-size: 0.8em;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}

#overlay.hide {
    width: 0;
    height: 0;
}

.modalContainer {
    display: block;
    background: #ddd;
    position: absolute;
    top: -50%;
    left: 50%;
    box-sizing: border-box;
    width: 35em;
    padding: 1em 3em;
    margin: 0 auto;
    font-size: 0.8em;
    z-index: 50;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%,-50%);
}


.closeButton {
    position: absolute;
    top: 0.2em;
    right: 0.4em;
    z-index: 40;
    text-decoration: none;
    font-size: 1.5em;
}



